:root {
  /***** Typografi *****/
  --primary-font: "Inter", sans-serif;

  /***** Colors *****/
  --white: #ffffff;
  --dark-gray: #343a40;
  --light-gray: #495057;
  --dark-blue1: #0a3871;
  --dark-blue2: #072b61;
  --light-blue1: #f3f5fc;
  --light-blue2: #eff1fa;
  --light-blue3: #e9ecf8;

  /***** Screen Sizes *****/
  --mobile: 480px;
  --tablet: 768px;
  --laptop: 1024px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: var(--light-blue1);
  font-size: 62.5%;
  font-family: var(--primary-font);
}

body {
  font-size: 1.6rem;
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea,
button {
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-family: var(--primary-font);
  width: 100%;
}

button {
  min-height: 5rem;
  max-height: 5rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.container {
  width: 95%;
  margin-inline: auto;
}

@media (min-width: var(--tablet)) {
  .container {
    width: 90%;
    max-width: 120rem;
  }
}
