body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding-block: 3rem;
    gap: 2rem;
  }
}

header {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    align-items: start;
    justify-content: end;
  }

  main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    height: 100%;
    gap: 4rem;
  }

  .input {
    padding-top: 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.input > .message {
  background-color: inherit;
  padding-block: 1rem;
  height: 33vh;
  font-size: 3rem;
  color: var(--dark-blue1);
  margin-bottom: 1rem;
  resize: none;
}

.input > .message::placeholder {
  font-size: 3rem;
  color: var(--dark-blue1);
}

@media (min-width: 1024px) {
  .input > .message {
    height: 60vh;
  }
}

.input-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input-info.error {
  color: var(--red);

  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block: 2rem;
}

@media (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }
}

.btn-encrypt {
  background-color: var(--dark-blue1);
  color: var(--white);
  transition: background-color 150ms;
}

.btn-desencrypt {
  background-color: inherit;
  border: 0.1rem solid var(--dark-blue1);
  color: var(--dark-blue1);
  transition: background-color 150ms;
}

@media (min-width: 1024px) {
  .btn-encrypt:hover {
    background-color: var(--dark-blue2);
  }

  .btn-desencrypt:hover {
    background-color: var(--light-blue3);
  }
}

.output {
  text-align: center;
  margin-top: 4rem;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 4rem;
  width: 90%;
  margin-inline: auto;
  box-shadow: 0 1rem 1rem 0.5rem var(--light-blue3);
}

.output > img {
  display: none;
}

.output > .message {
  margin-top: 2rem;
  text-align: center;
}

.output > h2.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block: 0rem;
    height: 100%;
    min-width: 25rem;
    max-width: 30rem;
    width: 100%;
  }

  .output > img {
    display: block;
  }

  .output > img.hidden {
    display: none;
  }

  .output > .message {
    height: 100%;
  }
}

.btn-copy {
  display: none;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid var(--dark-blue1);
  color: var(--dark-blue1);
  transition: background-color 150ms;
}

.btn-copy.show {
  display: block;
}

@media (min-width: 1024px) {
  .btn-copy:hover {
    background-color: var(--light-blue3);
  }
}

footer {
  margin-top: auto;
  text-align: center;
  margin-bottom: 2rem;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
